/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/.htaccess
/public/index.php
.gitignore
/public/tracker/resume/*
/public/company_cover/*
/public/company_logo/*
/public/emp_profile_image/*
/public/resume/*
