.icon-button {
    background-color: white !important;
    ;
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    /* line-height: 3px; */
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
  }

  /* Circle */
  .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
  }

  .twitterspan:hover {
    position: absolute !important;
  }

  .icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
  }

  .twitter span {
    /* position: static !important; */
    background-color: #c8232c;
  }

  .facebook span {
    background-color: #3B5998;
  }

  .linkedin span {
    background-color: #007bff;
  }

  .instagram span {
    background-color: #d6249f;
  }

  .pinterest span {
    background-color: #c8232c;
  }

  /* Icons */
  .icon-button i {
    background: none;
    color: #7a7a7a;
    /* height: 3.6rem; */
    left: 9px;
    line-height: 42px;
    position: sticky;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }

  .icon-button .icon-twitter {
    /* color: #efeff0; */
    fill: #c8232c;
    padding-right: 7px;
    position: absolute !important;
    left: 9px !important;
    top: 10px !important;
  }

  .icon-button .icon-facebook {
    color: #3B5998;
  }
  .icon-youtube {
    position: absolute !important;
    left: 7px !important;
    top: -1px !important;
    color: #c8232c !important;
}
  .icon-button .icon-linkedin {
    color: #007bff;
  }

.newsletteremail{
    width: 80% !important;
}
  .icon-button .icon-instagram {
    color: #d6249f;
  }

  .icon-button .icon-pinterest {
    color: #c8232c;
  }

  .icon-button:hover .icon-facebook,
  .icon-button:hover .icon-linkedin,
  .icon-button:hover .icon-instagram,
  .icon-button:hover .icon-youtube {
    color: white !important;
  }
  .icon-button:hover .icon-twitter {
    position: absolute !important;
    z-index: 10;
    fill: white;
}

    .footer-area ul li:before {
        font-family: Font Awesome\ 5 Free;
        content: "\F0A4 ";
        margin-right: 10px;
        color: #a7a7a7;
    }
    .fa-x-twitter:before{
        content:"\e61b"
    }
    .footer-social a i,
    .twittericon {
        /* margin-top: 15px;
        color: #888888;
        margin-left: 23px;
        font-size: 27px;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s; */
    }

    @media only screen and (max-width:700px) {
        .footer-area .footer-form form .form-icon button {
            top: 10px;
        }

    }

    @media only screen and (min-width:576px) and (max-width:1199px) {
        /* .footer-social {
            position: relative;
            right: 17px;
        } */
        .icon-button{
            margin: 0%;
            margin-right: 1%;
        }

    }

    @-moz-document url-prefix() {
  .icon-button .icon-twitter{
    left: 6px !important;
  top: 6px !important;
    height: 28px;
  }
}  
