.nav-link.active {
    background-color: #e35e25;
    color: white !important;
}

.nav-link.active:hover {
    color: white !important;
}

.nav-link.active:not(:hover) {
    color: white !important;
}

.select2-selection__arrow {
    top: 22px !important;
}

.select2-container--default .select2-selection--single {
    /* height: 100%; */
    border: none;
    margin-top: 20px;
}
.leftradius{
    border-top-left-radius: 2.25rem !important;
    border-bottom-left-radius: 2.25rem !important;
}
.rightradius {
    border-top-right-radius: 2.25rem !important;
    border-bottom-right-radius: 2.25rem !important;
}
.select2-container {
    /* width: 100%; */
    height: 100%;
    background: white;
}

/* For mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .select2-container {
        width: 100% !important;
        padding: 0px 0px 15px 0px;
        height: 60px;
        border-top-right-radius: 2.25em !important;
        border-bottom-right-radius: 2.25em !important;
        border-top-left-radius: 2.25em !important;
        border-bottom-left-radius: 2.25em !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
    .border-right{
        border-right: none !important;
    }
    .skillradius{
        border-top-right-radius: 2.25em !important;
        border-bottom-right-radius: 2.25em !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
    .experienceborder{
        border-top-right-radius: 2.25em !important;
        border-bottom-right-radius: 2.25em !important;
        border-top-left-radius: 2.25em !important;
        border-bottom-left-radius: 2.25em !important;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }
 
    #search_jobs{
        border-top-left-radius: 2.25em !important;
        border-bottom-left-radius: 2.25em !important;
    }
    .findjob{
        display: flex;
        justify-content: center;
    }
    span.selection {
        display: inline-block;
        width: 44%;
        margin-left: 1%;
    }
}

@media only screen and (min-width: 768px){
    #searchkeyword {
    padding-left: 18%;

}
}

.dropdown-menu.show {
    overflow: auto;
    max-height: 200px;

}

.image-class {
    width: 114px;
    /* height: 62px; */
    border: 1px solid black;
}

#searchkeyword {
    height: 64px;
}

#experienced_level {
    height: 64px;
    border: none;
}

#search_jobs {
    padding: 32px 44px
}

.dropdown-menu.show {
    width: auto !important;
}

#searchkeyword,
#experienced_level,
#location,
#search_jobs {
    /* width: 115%; */

}

.header-area .main-menu ul li {
    z-index: auto;
}