.eyeicon, .eyeicon_confirm 
        {
            margin-top: -25px;
        }
input::-ms-reveal, input::-ms-clear 
      {
        display: none;
      }
.password{
        padding-right: 10%;
}      