input{
    padding: 8px 28px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}
select{
    padding: 13px 28px 11px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px
}
textarea{
    padding: 2px 28px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px

}
.wrapper-profile{
    border: 1px solid #ddddddd7; 
    border-radius: 15px;   
    background-color:#fff ;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    /* padding: 20px;        
    margin: 20px;          */
    transition: box-shadow 0.3s ease;
   
}
.wrapper-profile:hover {
    box-shadow: 0 7px 13px rgba(0, 0, 0, 0.3); 
}


